* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: Ubuntu, system-ui, sans-serif;
  display: grid;
  place-content: center;
  background-color: #141523;
}

h1,
h2,
p {
  text-align: center;
  color: rgb(163, 146, 172);
  margin: 1rem 0;
}

h1 {
  font-size: min(3rem, 6vw);
  font-weight: normal;
}

p {
  font-family: "Ubuntu Mono", ui-monospace, monospace;
}

p#price {
  font-size: min(10rem, 12vw);
  margin: min(3rem, 4vw) 0;
}

p.last24h {
  font-size: min(4rem, 7vw);
}

.up {
  color: rgb(0, 148, 128);
}

.down {
  color: rgb(209, 55, 106);
}

.low {
  color: rgb(0, 148, 128);
}

.mid {
  color: rgb(207, 114, 27);
}

.high {
  color: rgb(209, 55, 106);
}

.mempool,
.fees,
.price {
  border: solid 2px #242438;
  color: rgb(163, 146, 172);
  margin: 2rem 0.5rem 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
}

.price {
  padding: 3rem;
}

.fees ul {
  font-family: "Ubuntu Mono", ui-monospace, monospace;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: justify;
}

.fees li {
  display: block;
  padding: 0.5rem;
}

.fees li p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.mempool h2,
.fees h2,
.price h2 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  position: absolute;
  top: calc(-0.5em - 1rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: #141523;
  padding: 1rem;
}

.fees h3 {
  color: rgb(85, 167, 214);
  font-weight: normal;
  font-size: 0.875rem;
}

.fees p:last-child {
  font-weight: bold;
}

.mempool p {
  font-size: 1.5rem;
}

@media (max-width: 512px) {
  .fees li {
    font-size: 0.875rem;
  }

  .mempool p {
    font-size: 0.875rem;
  }

  .price {
    padding: 1.5rem;
  }
}
