body,
html {
  height: 100%;
}

body {
  font-family: Ubuntu, system-ui, sans-serif;
  display: grid;
  place-content: center;
  background-color: #141523;
}

h1,
h2,
p {
  text-align: center;
  color: rgb(163, 146, 172);
  margin: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

p {
  font-family: "Ubuntu Mono", ui-monospace, monospace;
  margin: 0.25em;
}

p#price {
  font-size: min(10rem, 12vw);
}

p.last24h {
  font-size: min(4rem, 12vw);
}

.up {
  color: rgb(0, 148, 128);
}

.down {
  color: rgb(190, 35, 87);
}
