@font-face {
    font-family: "icons";
    src: url("./icons.ttf?5485603f93cd27333778a34d699766b4") format("truetype"),
url("./icons.woff?5485603f93cd27333778a34d699766b4") format("woff"),
url("./icons.woff2?5485603f93cd27333778a34d699766b4") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen-off:before {
    content: "\f101";
}
.icon-fullscreen:before {
    content: "\f102";
}
.icon-github:before {
    content: "\f103";
}
.icon-install:before {
    content: "\f104";
}
.icon-mode-dark:before {
    content: "\f105";
}
.icon-mode-light:before {
    content: "\f106";
}
.icon-wait:before {
    content: "\f107";
}
