@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
  --color-bg: #0c0c14;
  --color-bg-header: #141422;
  --color-borders: #1b1b2b;
  --color-text: rgb(163, 146, 172);
  --color-text-accent: rgb(85, 167, 214);
  --color-good: rgb(0, 148, 128);
  --color-mid: rgb(252, 152, 59);
  --color-bad: rgb(230, 57, 115);
  --font-mono: "Ubuntu Mono", ui-monospace, monospace;
  --font-sans: "Baloo 2", system-ui, sans-serif;
}

.light {
  --color-bg: #ebebff;
  --color-bg-header: #d1d1ff;
  --color-borders: #b2b2f0;
  --color-text: rgb(44, 35, 49);
  --color-text-accent: rgb(38, 0, 100);
  --color-good: rgb(0, 95, 82);
  --color-mid: rgb(211, 67, 0);
  --color-bad: rgb(184, 3, 63);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
}

header {
  background-color: var(--color-bg-header);
  width: 100%;
  height: 3rem;
}

header a,
header a:active,
header a:visited,
header a:hover {
  text-decoration: none;
  color: var(--color-text);
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: var(--color-good);
  padding: 0.75rem;
  display: inline-block;
  background-image: url(/logo.svg);
  background-size: 2rem;
  background-position: 0.5rem center;
  background-repeat: no-repeat;
  padding-left: 3rem;
}

.light h1 {
  background-image: url(/logo-light.svg);
}

button.mode {
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  background-image: url(/mode-light.svg);
  background-size: contain;
  opacity: 0.7;
}

.light button.mode {
  background-image: url(/mode-dark.svg);
  opacity: 0.9;
}

.light button.mode:hover,
button.mode:hover {
  opacity: 1;
}

.box {
  display: grid;
  place-content: center;
  height: calc(100% - 3rem);
  background-color: var(--color-bg);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "price price" "fees mempool";
  gap: 2rem;
  margin: 1rem;
}

h2,
p {
  text-align: center;
  color: var(--color-text);
  margin: 1rem 0;
  line-height: 1;
}

p {
  font-family: var(--font-mono);
}

h2,
h1 {
  font-family: var(--font-sans);
}

strong {
  font-family: var(--font-mono);
}

p#price {
  font-size: min(10rem, 12vw);
  margin: min(3rem, 4vw) 0;
}

p.last24h {
  font-size: min(4rem, 7vw);
}

.up,
.low {
  color: var(--color-good);
}

.down,
.high {
  color: var(--color-bad);
}

.mid {
  color: var(--color-mid);
}

.mempool,
.fees,
.price {
  border: solid 2px var(--color-borders);
  color: var(--color-text);
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
}

.price {
  padding: 3rem;
  grid-area: price;
  display: grid;
  place-content: center;
}

.fees {
  grid-area: fees;
}

.mempool {
  grid-area: mempool;
  display: grid;
  place-content: center;
}

.fees ul {
  font-family: var(--font-mono);
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: justify;
}

.fees li {
  display: block;
  padding: 0.5rem;
}

.fees li p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.mempool h2,
.fees h2,
.price h2 {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;
  position: absolute;
  top: calc(-0.5em);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg);
  padding: 0 1rem;
}

.fees h3 {
  color: var(--color-text-accent);
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
}

.fees p:last-child {
  font-weight: bold;
}

.mempool p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.mempool strong {
  font-size: 1.25rem;
}

.fee-usd {
  font-size: 1.5rem;
}

.fee-sat {
  font-size: 0.875rem;
}

.fee-sat strong {
  font-size: 1.25rem;
}

@media (max-width: 512px) {
  .fees li {
    font-size: 0.875rem;
  }

  .fees h3 {
    font-size: 0.75rem;
  }

  .mempool p {
    font-size: 0.875rem;
  }

  .price {
    padding: 2rem;
  }

  .fee-usd {
    font-size: 1.25rem;
  }

  .fee-sat {
    font-size: 0.75rem;
  }

  .fee-sat strong {
    font-size: 1rem;
  }

  main {
    gap: 1.5rem;
  }
}

@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "price" "fees" "mempool";
  }

  .price {
    width: calc(100vw - 2rem);
  }
}

@media (orientation: portrait) and (max-height: 720px) {
  p#price {
    margin: 0;
  }

  p.last24h {
    margin-bottom: 0;
  }

  .mempool p {
    margin: 0.25rem 0;
  }

  .mempool strong {
    font-size: 1rem;
  }
}

@media (orientation: landscape) and (max-height: 720px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "price fees" "price mempool";
    gap: 1.25rem;
  }

  p#price {
    font-size: 7vw;
  }

  p.last24h {
    font-size: 4vw;
  }
}

@media (orientation: landscape) and (max-height: 512px) {
  body,
  .box {
    display: block;
  }

  .price {
    margin-top: 1rem;
  }

  .mempool {
    margin-bottom: 1rem;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-areas: "price" "fees" "mempool";
  }

  p#price {
    font-size: 7vw;
  }

  p.last24h {
    font-size: 4vw;
  }

  button.mode {
    width: 24px;
    height: 24px;
  }
}
